.card {
  display:flex;
  text-align: left;
  background-color: pink;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.title {
  color: red;
  background-color: pink;
  text-align: center;
}

h1 {
  background-color: lightblue;
}

.footer {
  text-align: center
}
